################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.db
*.opendb
*.sqlite
*.idb
*.pdb
*.obj
*.exe
*.ilk
*.cso
*.tlog
*.suo
/.vs/ProjectSettings.json
