################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.db
*.opendb
*.sqlite
*.idb
*.pdb
*.obj
*.exe
*.dll
*.ilk
*.cso
*.tlog
*.suo
/.vs/ProjectSettings.json
/.vs/BzTuts/v16/ipch/AutoPCH/199da211471ae3b6/MAIN.ipch
*.ipch
/.vs/VSWorkspaceState.json
/x64/Release/OpenCV2 Example.ipdb
/x64/Release/OpenCV2 Example.iobj
